In [0]:
# repetition
# LOOP

LOOP is one of the frequent use of your programming

In [0]:
test = range(3)

In [0]:
type(test)

range

In [0]:
test

range(0, 3)

Starting at 0 to three times [0, 1, 2]

# FOR LOOP

In [0]:
years = [1981, 1982, 1983]

print(years[0]) #hot-coding 
print(years[1])
print(years[2])

1981
1982
1983

In [0]:
for i in range(3): #use Loop (generalizable #1)
  print(years[i])

1981
1982
1983

i = 0 (compare this i is in range 3) --> print(years[0])
i = 1 (compare this i is in range 3) --> print(years[1])
i = 2 (compare this i is in range 3) --> print(years[2])

In [0]:
n = len(years)
n

3

In [0]:
for i in range(n): #use Loop (generalizable #2)
  print(years[i])

1981
1982
1983

In [0]:
years = [1981, 1982, 1983, 1984, 1985] #Many programmer use this 
n = len(years)
for i in range(n):
  print(years[i])

1981
1982
1983
1984
1985

In [0]:
for i in years: #A Unique point of Python..
  print(i) #because this i now represent the (i-1)th item in the list 
  print(i)

print("I am carried out only once")

1981
1981
1982
1982
1983
1983
1984
1984
1985
1985
I am carried out only once

A syntax of for loop

for i in (condition): 
(tab)
(tab)
(tab)

for is "indentation sensitive"

if you want to block several codes, you need to hold the indentation

In [0]:
years = [1981, 1982, 1983, 1984, 1985]

i_permanant_as_global = 0   

for i in years: # i is a local variable that only work in the 'for' loop 
  print("The year to be printed: ", i)
  i_permanant_as_global = i # this i is not integer i, instead it represents 1985 at the end 

for i in range(0, 5): # i resets to 0 because it is a local variable that only works in the For loop 
  years[i] = i * "What the Heck!"
  print(years[i]+ "The year added up with What the Hack")
  i_permanant_as_global = i+ i_permanant_as_global

i_permanant_as_global

The year to be printed:  1981
The year to be printed:  1982
The year to be printed:  1983
The year to be printed:  1984
The year to be printed:  1985
The year added up with What the Hack
What the Heck!The year added up with What the Hack
What the Heck!What the Heck!The year added up with What the Hack
What the Heck!What the Heck!What the Heck!The year added up with What the Hack
What the Heck!What the Heck!What the Heck!What the Heck!The year added up with What the Hack

1995

In [0]:
years = [1981, 1982, 1983, 1984, 1985]

for i, years in enumerate(years):
  print(i, years)

0 1981
1 1982
2 1983
3 1984
4 1985

In [0]:
for i, j in range(0,5):
  print(i, years[j])

TypeError: ignored

Gradient Descent with For loop..

In [0]:
x = 3

for i in range(100):
  y = x**2 +1 # optimal minimum is (x = 0, y =1)
  y_prime = 2*x #I used the hot-coding 

  if(y_prime > 0):
    x = x - 0.1 
  else: 
    x = x + 0.1 
  if (y < 1.1): 
    print("The Optimal Solution of X is ", x, "and y is at X is ", y, "and we found the solution")
  else: print ("in", i, "th time we could not reach to the optimal")

##Assignment 1 (Due date is this Wendesday 9:00am) 

Apply the Newton method to find the solutions from my codes above. 

Then, compare how many times you have saved the number of calculation.

In [0]:
x = 3 
y_difference = 0

for i in range(100):
  y = x**2 +1
  y_prime = 2*x 

  if(y_prime >0):
    x = x - 0.1
    y_difference = y -(x**2+1)
  else:
    x = x + 0.1
    y_difference = y - (x**2+1)
  if (y_difference <0.00000001): #if there is not increment into a better direction, the calculation stops.  
    print("The Optimal of X is: ", x, "and y is: ", y, "and we found that solution.")

x = 3, y_difference = 0 

[1st trial]
y = 10
y_prime = 6
x = 2.9 
y_difference = y - (x**2+1) = 10 - (2.9**2+1) =

# WHILE Loop

In [0]:
years = [1981, 1982, 1983, 1984, 1985]

j = 0 #Global variable 
year = 0 #Globa variable

while(year != 2000):
  year = years[j]
  print(year)
  j = j + 1
  if(j == 4): break #one of the tricky parts using 'While' loop may face with an infinite looping... 

print("It took ", i , "repretitions to get out of loop")

0
1981
1
1982
2
1983
3
1984
It took  5 repretitions to get out of loop