In [0]:
#Today objectives : String (Data Type) Handling, Tuples (Special Data Type - we will use it many many many...)

In [1]:
"Michael Jackson" #String, double quotation "" or single quotation are the same

'Michael Jackson'

In [2]:
'1 2 3 4 5 6'

'1 2 3 4 5 6'

In [3]:
type('1 2 3 4 5 6')

str

In [0]:
#str means the data type is string

In [0]:
Name = "Michael Jackson"
# NAme is a variable to contain the string "Michael JAckson"

In [5]:
print(Name) #print function calls for (and look for where the variable "Name" is)

Michael Jackson

In [0]:
#Question is how we can access to a particular letter in the variable Name" 

# INDEXING....

In [6]:
print(Name[0])

M

In [7]:
print(Name[14])

n

In [9]:
print(Name(size[Name])) #this one doesn't work...

NameError: ignored

In [10]:
print(Name[-1]) # we will use this format quite often....

n

In [11]:
print(Name[-15]) #for the indexing we have to use [] :대괄호..

M

In [12]:
print(Name[0])

M

In [0]:
print(Name(size[Name])) #this one doesn't work...

In [13]:
len(Name)

15

In [14]:
print(Name(len[Name])) #this one doesn't work... = print(Name[15])

TypeError: ignored

In [18]:
length = len(Name) - 1 #len[Name] = 15 - 1 =14 # len is a function so it should use parenthesis () 소괄호, [] bracket 대괄호 means indexing...
print(Name[length]) # print(Name[14])

n

In [0]:
#Following topic of slicing!!!!
#slicing means to retrieve some part of the array..(today we will use the strings in order to slice some parts of the strings)

In [19]:
Name[0]

'M'

In [20]:
Name[1]

'i'

In [21]:
Name[0]+Name[1]+Name[2]+Name[3] #it works however, stupiDDDD

'Mich'

In [22]:
Name[0:4] #first index means the starting point, the second index is up to the fourth  , not the index numer. in between we need COLON (:)

# From Name[0] to Name[3] 

#the main benefit of this confusing indexing of the last postion comes from that that number 
#lets automatically indicate the starting point of the next postion.  
# The programmer autotomatically can call the last '4' or '12' (in the below example) to start their work.

'Mich'

In [23]:
Name[8:12] #Starting at 8th Name[8], and the upto 12 --> 11 in terms of indexing system Name[11]

'Jack'

In [26]:
Name[-4:-6]

''

In [27]:
Name[-4:-9] #Do not use the negative indexing system in Slicing..

''

In [28]:
#A kind of slicing, we call this 'Stride' 
#'Michael Jackson" 
#I want to print out "McalJcsn"
Name[:] # without any indexing number, with just ':', that says the whole total

'Michael Jackson'

In [29]:
Name[::2] #every second letters from "Michael Jackson" use "::" double colons

'McalJcsn'

In [30]:
Name[::3] #::2 means from the whol total, we want to indicate every second item..if so....

'Mhlas'

In [31]:
#if so, what I want to do is, every second letter from slicing or range..
Name[0:4:2] #'Michael Jackson" first two indexs are for range or slicing, and the last index is stride...

'Mc'

In [0]:
#An outstanding examples in Machine learning 
# we will have many solution alternatives (10 = max, 3 = mean, 5 = mode, 6 = median)
#[10, 3, 5, 6] --> stored in your array (kind of a string at now) 
#[0:4:2] --> I will use only Max and Mode values to programme
#[Family size, Number of Children, Numer of Boy, Number of  Girl] --> [4, 3, 2, 1] [7, 4, 0, 4]
#new variable = Var[0:4:2] #only this one declar that Family size and number of Boy is the information that we want to use. 
#new variable = Var[0] --> Family Size, Var[2] --> Number of Boy
#using this new variable, without deleting or correcting any origianl data, you can process the information we are interested in.

In [32]:
#OPERATION with Strings...
Name

'Michael Jackson'

In [0]:
Statement = "is a best singer in the world"

In [34]:
Statement

'is a best singer in the world'

In [0]:
Opinion = Name + Statement #addition is working...

In [52]:
Opinion

'Michael Jacksonis a best singer in the world'

In [0]:
Opinion = 4* Opinion  # Multiplication with constant (positive integer) is working to replicate the Name three times

In [54]:
Opinion #this is overrided from the opinion used above

'Michael Jacksonis a best singer in the worldMichael Jacksonis a best singer in the worldMichael Jacksonis a best singer in the worldMichael Jacksonis a best singer in the world'

In [0]:
#Scope of variable will be learnt in LEcture 5 
#Scope of Python is much flexbile in Python rather than other languages.

In [0]:
#Escape codes...? --> Tab, New line things..

In [56]:
#New line starting
print("Micheal Jackson \n is the best") # "\n" means new line

Micheal Jackson
 is the best

In [57]:
#Tab, a kind of indentation
print("Micheal Jackson \t is the best")

Micheal Jackson 	 is the best

In [59]:
#how to display '\?
print("Micheal Jackson \\ is the best") #this one "\\" is recognised as an Esacpe code - backslash by Python

Micheal Jackson \ is the best

In [60]:
print("Micheal Jackson \ is the best") #this one "\" is recognised as not an Esacpe code by Python. It is just a letter in the string..

Micheal Jackson \ is the best

In [61]:
print("Micheal Jackson \\\ is the best")

Micheal Jackson \\ is the best

In [62]:
print("Micheal Jackson \\\\ is the best")

Micheal Jackson \\ is the best

In [63]:
print("Micheal Jackson \\\\\ is the best")

Micheal Jackson \\\ is the best

In [64]:
print("Micheal Jackson \\\\\\ is the best")

Micheal Jackson \\\ is the best

In [0]:
#'\n', '\t' there are other escape codes, you might have a look from the resources that I have mentioned in the Syllabus.

In [0]:
#Some frequent String operations +, 3*

In [66]:
print("My favorate singer is: \t", Name.upper()) #Name = STring Array, every array has an innate (built-in) functions that Python provide

My favorate singer is: 	 MICHAEL JACKSON

In [67]:
Name.count(some paramter needed..) #to understand how to use the bulit-in functions are mostly on your hands. More experiences will 
#make you see the needs of these functions.

TypeError: ignored

In [0]:
Name_lower_case = Name.lower()

In [73]:
Name

'Michael Jackson'

In [74]:
Name_lower_case

'michael jackson'

In [75]:
Name.find('m') #Name is still "Michael Jackson"

-1

In [77]:
Name_lower_case.find('a') #it returns the first index of the searched item.

4

In [80]:
Name.replace('Michael', 'Blake') 
#This one is your Assignment #1 You play around how to use some built-in functions with strings..

'Blake Jackson'

In [79]:
Name

'Michael Jackson'

In [0]:
#Tuples...

In [0]:
tupleX = ("disco", 10, 1.2)

In [82]:
print(tupleX)

('disco', 10, 1.2)

In [83]:
type(tupleX)

tuple

In [0]:
tupleY = ("R&B", 12, 1.5)

In [85]:
print(tupleY)

('R&B', 12, 1.5)

In [0]:
tuple_add = 3* tupleX + 2* tupleY # quite a handy!!!!

In [89]:
print(tuple_add)

('disco', 10, 1.2, 'disco', 10, 1.2, 'disco', 10, 1.2, 'R&B', 12, 1.5, 'R&B', 12, 1.5)

In [90]:
tupleX[0]

'disco'

In [91]:
tupleX[1]

10

In [93]:
tupleX[-1]

1.2

In [94]:
tupleX[0][0]

'd'

In [95]:
tupleX[0][-1]

'o'

In [96]:
tupleX[1]

10

In [97]:
tupleX[1][0]

TypeError: ignored

In [98]:
tupleX[2][0]

TypeError: ignored

In [99]:
tuple_add

('disco',
 10,
 1.2,
 'disco',
 10,
 1.2,
 'disco',
 10,
 1.2,
 'R&B',
 12,
 1.5,
 'R&B',
 12,
 1.5)

In [100]:
tuple_add[0][1]

'i'

In [101]:
tuple_add[1][1]

TypeError: ignored

In [102]:
tuple_add[3][0]

'd'

In [0]:
#Your Assginemnt #2 - Apply what you have learnt from String section, do repeat the many operations you played in the section. 
#e.g., Stride, Slicing... functions

In [108]:
tupleX.count(10)

1

In [0]:
Ratings = (0, 9, 6, 5, 4, 1, 3, 5) # A tuple consisting of only integer

In [110]:
type(Ratings)

tuple

In [111]:
sorted(Ratings) # Frequent function you will use in your lifetime

[0, 1, 3, 4, 5, 5, 6, 9]

In [0]:
#Nested Tuple....

In [0]:
Nest_T = (1,2, ("Pop", "Rock"), (3,4), ("disco", (1,2)))

In [117]:
Nest_T[4]

('disco', (1, 2))

In [119]:
Nest_T[2][1]

'Rock'

In [123]:
Nest_T[4][1]

(1, 2)

In [124]:
Nest_T[4][1][0]

1

In [126]:
Nest_T[2][1][0]

'R'

In [0]:
#Your Assignment #3 
#Declare a Genre tuple as follows:
"0. Pop, 1. Rock, 2. Soul, 3. Hard Rock, 4. Soft rock, 5. R&B, 6. Progressive rock, 7. Disco"
#Play around to access each items to answer the quires such as "What is the number of R&B"
# tuple_Genre.find("R&B") --> of course I know that you haven't learnt how to make a function in Python, play your own trick to find 
# where such letter or strings will be displayed. 

# if you have a such question "Is there any R&B in the tuple_Genre?" what will you do? tuple_Genre[0],tuple_Genre[1], tuple_Genre[2], tuple_Genre[3], tuple_Genre[4], tuple_Genre[5], tuple_Genre[6], tuple_Genre[7]
# end then the computer will search at each item to find if there is R&B, maybe you will trick using '&' symbol '&' maybe you can use this trick to find if the tupleGenre has such 'And' Symbol.. 
#"[0][pop], [1][R&B], [2][Disco]" <--Pseudo Code for a two-dimensional tuple...--> n-dimensional tuples ("Tensor" = "n-dimensional vector", "n*m matrix", Tensorflow - name of Google AI package)